include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/resource_visibility *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/resource_visibility/migration *.ini *.py *.mako
